.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    width: 255px;
}

.profile img {
    border-radius: 50%;
    height: 56px;
    width: 56px;
}

.profile div {
    height: 34px;
    font-size: 14px;
    width: 182px;
}

.profile div p:first-child {
    font-weight: 500;
}

.profile div p:last-child {
    font-weight: 300;
}

.suggestions {
    height: 224px;
    width: 292px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.suggestions > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.suggestions > div > div {
    display: flex;
    align-items: center;
}

.suggestions > div > div img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-right: 11px;
}

.suggestions p:first-child {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
}

.suggestions > div > div > div p:last-child {
    font-size: 12px;
    font-weight: 400;
    color: #8E8E8E;
}

.suggestions p:last-of-type {
    font-size: 12px;
    font-weight: 400;
    color: #139EF2;
}

.info {
    height: 74px;
    width: 300px;
}

.info p {
    color: #C7C7C7;
    font-size: 11px;
    margin-top: 18px;
}